@import "../config/theme"
@import "~bulma/bulma"

html
  overflow: auto

// Make a tablet sized container for forms
.container
  &.is-tablet
    max-width: $tablet - (2 * $gap)

// Make table narrow on mobile
.table
  +mobile
    td,
    th
      padding: 0.25em 0.5em

// Admin Checkbox styling
.impact-cms-nested-checkbox
  input[type=checkbox]:not(:checked) ~ div
    display: none

// loading bar for service worker notifications
.progress.is-primary.is-small.is-fixed-top:indeterminate
  background-color: rgba(255,255,255,0)
  background-image: linear-gradient(to right, $primary 30%, rgba(255,255,255,0) 30%)
  border-radius: 0
  height: 0.25rem
  position: fixed
  top: 0
  z-index: 41

// Make the home page editor sticky
.textarea.impact-cms-sticky-textarea
  min-height: 85vh
  position: sticky
  top: 1rem
